
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostItem</title>
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="container">

        <div>
            <h1 class="text-center m-lg-5 text-primary">Your item has been posted on our marketplace!</h1>
        </div>

        <div>
            <img src="~/images/undraw_happy_feeling_slmw.svg" class="centered" />
        </div>

        <div class="fixed-bottom m-5 text-center">
            <a href="/Home/PostItem" class="btn btn-primary" role="button">Post another thrift</a>
            <a href="/Home/Marketplace" class="btn btn-primary" role="button">Thrift a fit</a>
        </div>

    </div>

</body>
</html>
